<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program %><br>
    <%= f.text_field :program %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :school_Number %><br>
    <%= f.number_field :school_Number %>
  </div>
  <div class="field">
    <%= f.label :school %><br>
    <%= f.number_field :school %>
  </div>
  <div class="field">
    <%= f.label :asep %><br>
    <%= f.text_field :asep %>
  </div>
  <div class="field">
    <%= f.label :sep %><br>
    <%= f.text_field :sep %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :scholarship/Financial %><br>
    <%= f.text_field :scholarship/Financial %>
  </div>
  <div class="field">
    <%= f.label :Assistance %><br>
    <%= f.text_field :Assistance %>
  </div>
  <div class="field">
    <%= f.label :transportation %><br>
    <%= f.text_field :transportation %>
  </div>
  <div class="field">
    <%= f.label :bsep %><br>
    <%= f.text_field :bsep %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
