<div class="container">
  <h1>Out of School Time Locator Map</h1>
  <p> Out-of-School Time Program Locations</p>
  <% if @message.present? %>
    <p style="color:red;"><%= @message %></p>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <div id="map-canvas"></div>
    </div>
  </div>


  <h3>Basic Info</h3>
  <div class="row">
    <%= form_tag("/", method: "post", class: "form-inline") do %>
      <div class="col-md-2"><%= select_tag(:site_query, options_for_select(@uniq_sites.collect), prompt: 'Select Site', class: 'form-control', style: "width: 100%; margin-top: 10px;")%></div>
      <div class="col-md-2"><%= select_tag(:program_query, options_for_select(@uniq_programs.collect), prompt: 'Select Program', class: 'form-control', style: "width: 100%; margin-top: 10px;")%></div>
      <div class="col-md-2"><%= select_tag(:zip_query, options_for_select(@uniq_zips.collect), prompt: 'Select Zip Code', class: 'form-control', style: "width: 100%; margin-top: 10px;")%></div>
      <div class="col-md-2"><%= select_tag(:grade_query, options_for_select(@uniq_grades.collect), prompt: 'Select Grade', class: 'form-control', style: "width: 100%; margin-top: 10px;")%></div>
      <div class="col-md-4" style="margin-top: 10px;">
        <%= submit_tag('Filter Programs!', class: "btn btn-primary") %>
        <%= link_to 'Clear Filter!', root_path, class: "btn btn-warning" %>
      </div>

    <% end %>
  </div>

  <br>

  <div class="row" style="overflow: auto; height: 300px; width: 100%;">
    <div class="col-md-12">
      <table class="table table-hover table-stripped table-condensed table-bordered">
        <thead>
          <tr>
            <th>Site</th>
            <th>Program</th>
            <th>More Info</th>
            <th class="hiding">Contact</th>
            <th class="hiding">Email</th>
            <th class="hiding">Website</th>
            <th class="hiding">Phone</th>
            
           

          </tr>
        </thead>

        <tbody style="font-size: 13.5px;">
          <% @locations.each do |location| %>
            <tr>
              <td><%= location.site%></td>
              <td><%= link_to location.program, location %></td>
              <td><%= link_to "More Info", location %></td>
              <td class="hiding"><%= location.contact %></td>
              <td class="hiding"><a href="mailto:<%= location.email %>"><%= location.email %></td>
              <td class="hiding"><a href="<%= location.website %>" target="_blank"><%= location.website %></a></td>
              <td class="hiding"><%= location.phone %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <h3 class="hiding">Additional Info</h3>

  <div class="row hiding" style="overflow: auto; height: 300px; width: 100%;">
    <div class="col-md-12 hiding">
      <table class="table table-hover table-stripped table-condensed table-bordered hiding">
        <thead>
          <tr>
            <th>Site</th>
            <th>Program</th>
            <th>Grade</th>
            <th>Transportation</th>
            <th>Hours</th>
            <th>Cost per Child</th>
            <th>After Sch.</th>
            <th>Before Sch.</th>
            <th>Summer</th>

          </tr>
        </thead>

        <tbody style="font-size: 13.5px;">
          <% @locations.each do |location| %>
            <tr>
              <td><%= location.site%></td>
              <td><%= link_to location.program, location %></td>
              <td><%= location.grade %></td>
              <td><%= location.transportation %></td>
              <td><%= location.hours %></td>
              <td><%= location.cost  %></td>
              <td><%= location.asep %></td>
              <td><%= location.bsep %></td>
              <td><%= location.sep %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <%= image_tag "cfcr-logo2.png", class: "pull-left"%>
      <a href="http://techtalentsouth.com/" class="pull-right" style="margin-right: 25px;"><%= image_tag "tts-logo.png" %></a>
      <p class="pull-right" style="margin-right: 15px; margin-top: 10px;">Made in partnership with Tech Talent South</p>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function (){

      function initialize() {
        var mapOptions = {
           zoom: 11,
           scrollwheel: false,   
           center: { lat: 35.226154, lng: -80.836779},
        };


        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

         var infowindow = new google.maps.InfoWindow();

        "<% @locations.each do |l| %>"
          var myLatlng = new google.maps.LatLng("<%= l.latitude %>", "<%= l.longitude %>");
          var image = '<%= asset_path "blue-dot.png"%>';
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            icon: image,
            title: "<%= l.site %>"
          
          });

          var contentString = "<h2><%= l.site %></h2>" +
                               "<p><%= l.address %></p>" +
                               " <% site_programs = Location.where(site: l.site).all %>" +
                               "<h4>Programs at this location:</h4>" + 
                                "<ul> <% site_programs.each do |p| %>" +
                                "<li><a href='/locations/<%= p.id %>'><%= p.program %></a></li>" +
                                "<% end %></ul>";
        

          // var infowindow = new google.maps.InfoWindow({
          //   content: contentString
          // });
          

          // google.maps.event.addListener(marker, 'click', function() {
          //    infowindow.open(map,this);
          // });

          google.maps.event.addListener(marker, 'click', (function(marker, contentString) {
                return function() {
                    infowindow.setContent(contentString);
                    infowindow.open(map, marker);
                }
            })(marker, contentString));
        "<% end %>"
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    });
  </script>
</div>

<br>

