<%= javascript_tag do %>
    latitude = '<%= j @location.latitude.to_s %>';
    longitude = '<%= j @location.longitude.to_s %>';
    address = '<%= j @location.address %>';
  
<% end %>

<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <h1><%= @location.program %></h1>
      <h2><%= @location.site %></h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
        <div id="location-map"></div>
    </div>
  </div>

  <br>

  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Program Information:</h3>
        </div>
        <div class="panel-body">
          <p>
            <strong>Before School:</strong>
            <%= @location.bsep %>
          </p>

          <p>
            <strong>After School:</strong>
            <%= @location.asep %>
          </p>

          <p>
            <strong>Summer:</strong>
            <%= @location.sep %>
          </p>

          <p>
            <strong>Cost:</strong>
            <%= @location.cost %>
          </p>

          <p>
            <strong>Scholarship/financial:</strong>
            <%= @location.scholarship_financial %>
          </p>

          <p>
            <strong>Transportation:</strong>
            <%= @location.transportation %>
          </p>

          <p>
            <strong>Hours:</strong>
            <%= @location.hours %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contanct Information</h3>
        </div>
        <div class="panel-body">
          <p>
            <strong>Address:</strong>
            <%= @location.address %>
          </p>

          <p>
            <strong>Website:</strong>
            <a href="<%= @location.website %>" target="_blank"><%= @location.website %></a>
          </p>

          <p>
            <strong>Contact:</strong>
            <%= @location.contact %>
          </p>

          <p>
            <strong>Email:</strong>
            <a href="mailto:<%= @location.email %>"><%= @location.email %></a>
          </p>

          <p>
            <strong>Phone:</strong>
            <%= @location.phone %>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>