<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key']%>">
 </script>

 	<meta charset="UTF-8" />
	<title>Out of School Time Locator Map | Council for Children&#039;s Rights</title>
			
	
	<link rel="stylesheet" href="http://www.cfcrights.org/wp-content/themes/Lucid/style.css" type="text/css" />
	<link rel="pingback" href="http://www.cfcrights.org/xmlrpc.php" />

	<!--[if lt IE 9]>
		<script src="http://www.cfcrights.org/wp-content/themes/Lucid/js/html5.js" type="text/javascript"></script>
	<![endif]-->

	<script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<link rel="alternate" type="application/rss+xml" title="Council for Children&#039;s Rights &raquo; Feed" href="http://www.cfcrights.org/feed/" />
<link rel="alternate" type="application/rss+xml" title="Council for Children&#039;s Rights &raquo; Comments Feed" href="http://www.cfcrights.org/comments/feed/" />
<link rel="alternate" type="text/calendar" title="Council for Children&#039;s Rights &raquo; iCal Feed" href="http://www.cfcrights.org/events/?ical=1" />
<link rel="alternate" type="application/rss+xml" title="Council for Children&#039;s Rights &raquo; Out of School Time Locator Map Comments Feed" href="http://www.cfcrights.org/issues/out-of-school-time-locator-map/feed/" />
<meta content="Lucid v.2.5" name="generator"/><link rel='stylesheet' id='tribe-events-full-calendar-style-css'  href='http://www.cfcrights.org/wp-content/plugins/the-events-calendar/resources/tribe-events-full.min.css?ver=3.8' type='text/css' media='all' />
<link rel='stylesheet' id='tribe-events-calendar-style-css'  href='http://www.cfcrights.org/wp-content/plugins/the-events-calendar/resources/tribe-events-theme.min.css?ver=3.8' type='text/css' media='all' />
<link rel='stylesheet' id='tribe-events-calendar-full-mobile-style-css'  href='http://www.cfcrights.org/wp-content/plugins/the-events-calendar/resources/tribe-events-full-mobile.min.css?ver=3.8' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='tribe-events-calendar-mobile-style-css'  href='http://www.cfcrights.org/wp-content/plugins/the-events-calendar/resources/tribe-events-theme-mobile.min.css?ver=3.8' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-layout-css'  href='//www.cfcrights.org/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.2.7' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='//www.cfcrights.org/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.2.7' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css'  href='//www.cfcrights.org/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.2.7' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-nyp-css'  href='http://www.cfcrights.org/wp-content/plugins/woocommerce-name-your-price/assets/css/name-your-price.css?ver=2.0.2' type='text/css' media='all' />
<link rel='stylesheet' id='google_font_open_sans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C300&#038;ver=4.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='google_font_open_sans_condensed-css'  href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%2C700&#038;ver=4.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='et-shortcodes-css-css'  href='http://www.cfcrights.org/wp-content/themes/Lucid/epanel/shortcodes/css/shortcodes.css?ver=3.0' type='text/css' media='all' />
<link rel='stylesheet' id='et-shortcodes-responsive-css-css'  href='http://www.cfcrights.org/wp-content/themes/Lucid/epanel/shortcodes/css/shortcodes_responsive.css?ver=3.0' type='text/css' media='all' />
<link rel='stylesheet' id='fancybox-css'  href='http://www.cfcrights.org/wp-content/themes/Lucid/epanel/page_templates/js/fancybox/jquery.fancybox-1.3.4.css?ver=1.3.4' type='text/css' media='screen' />
<link rel='stylesheet' id='et_page_templates-css'  href='http://www.cfcrights.org/wp-content/themes/Lucid/epanel/page_templates/page_templates.css?ver=1.8' type='text/css' media='screen' />
<script type='text/javascript' src='http://www.cfcrights.org/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='http://www.cfcrights.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.cfcrights.org/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.cfcrights.org/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.0.1" />
<meta name="generator" content="WooCommerce 2.2.7" />
<link rel='canonical' href='http://www.cfcrights.org/issues/out-of-school-time-locator-map/' />
<link rel='shortlink' href='http://www.cfcrights.org/?p=4405' />
		<style>
				</style>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><style>
		#featured .flex-direction-nav a:hover, #video-slider-section .flex-direction-nav a:hover { background-color: #00befe; }
			#featured_section .active-slide .post-meta, #featured_section .switcher_hover .post-meta, .et_tab_link_hover .post-meta { background: #009cff; }
			h3.main-title { background-color: #009cff; -moz-box-shadow: inset 0 0 10px rgba(0,133,245,0.1); -webkit-box-shadow: inset 0 0 10px rgba(0,133,245,0.1); box-shadow: inset 0 0 10px rgba(0,133,245,0.1); border: 1px solid #0085f5; }
				.widget li { background: url(http://www.cfcrights.org/wp-content/themes/Lucid/images/widget-blue-bullet.png) no-repeat 24px 24px; }
				.footer-widget li { background: url(http://www.cfcrights.org/wp-content/themes/Lucid/images/widget-blue-bullet.png) no-repeat 0 4px; }
				.et_mobile_menu li a { background-image: url(http://www.cfcrights.org/wp-content/themes/Lucid/images/widget-blue-bullet.png); }
		a { color: #009cff; }
		.et_video_play { background-color: #009cff; }
		#second-menu > ul > li > a:hover { background-color: #009cff; -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); box-shadow: inset 0 0 10px rgba(0,0,0,0.3); }
		#second-menu ul ul li a:hover { background-color: #33b0ff; }
		#second-menu ul.nav li ul { background: #009cff; }
		#second-menu ul ul li a { border-top: 1px solid #33b0ff; }
		</style><style type="text/css" id="et-custom-css">
.container #logo-area, #main-header {margin-bottom: 15px;}
#second-menu {font-weight: bold;}
.article .thumb {width: 215px;}
#switcher .meta-info, .article .meta-info {display: none;}
.article h4 {margin-bottom: 15px;}
.entry .meta-info, .entry .post-thumbnail {display: none;}
.entry h2.title, h1.title {margin-bottom: 25px;}
.article .thumb .overlay, .thumb {width: 128px !important;}
.article h4 a, h3 {color:#009cff;}
a { color: #E87341; }
.woocommerce-shipping-fields .form-row { width: 95% !important; }
.quantity, .images, .woocommerce-tabs, #order_comments_field  {display: none; }
.quantity.buttons_added, .product_meta { display: none !important;}
h1, h2, h3, h4, h5, h6 {line-height: 1.5em;}
div [itemprop="offers"] {display: none;}
a.smallblue, a.bigblue {
color: #fff;
background: #009cff;
background: -moz-linear-gradient(top, #009cff 0%, #60a7ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009cff), color-stop(100%,#60a7ff));
background: -webkit-linear-gradient(top, #009cff 0%,#60a7ff 100%);
background: -o-linear-gradient(top, #009cff 0%,#60a7ff 100%);
background: -ms-linear-gradient(top, #009cff 0%,#60a7ff 100%);
background: linear-gradient(to bottom, #009cff 0%,#60a7ff 100%);
border: 1px solid #3e8ff4;
}
.post_content .single-product .summary {
border: 3px solid #efefef;
border-radius: 10px;
padding: 10px;
margin-left: 15px;
}
.post_content .single_variation {
margin: 25px;
}
.woocommerce-message {
display: none;
}
</style>







</head>
<body class="page page-id-4405 page-child parent-pageid-3502 page-template page-template-page-full-php chrome et_fullwidth_view tribe-theme-Lucid">

<header id="main-header">
		<div class="container clearfix">
			<a href="#" class="mobile_nav closed">Pages Menu<span></span></a>			<nav id="top-menu">
				<ul id="menu-site-map" class="nav"><li id="menu-item-3980" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-3980"><a href="http://www.cfcrights.org">Home</a></li>
<li id="menu-item-4123" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4123"><a href="http://www.cfcrights.org/category/news/">News</a></li>
<li id="menu-item-3991" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3991"><a href="http://www.cfcrights.org/category/blog/">Blog</a></li>
<li id="menu-item-3387" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3387"><a href="http://www.cfcrights.org/?post_type=tribe_events">Events</a></li>
<li id="menu-item-3388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3388"><a href="http://www.cfcrights.org/contact-the-council/">Contact</a></li>
<li id="menu-item-4134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4134"><a href="http://www.cfcrights.org/make-a-difference/donatenow/">Donate</a></li>
</ul>			</nav>

			<div id="social-icons"><a href='https://twitter.com/cfcrights' target='_blank'><img alt='Twitter' src='http://www.cfcrights.org/wp-content/themes/Lucid/images/twitter.png' /></a><a href='http://www.cfcrights.org/feed/' target='_blank'><img alt='Rss' src='http://www.cfcrights.org/wp-content/themes/Lucid/images/rss.png' /></a><a href='https://www.facebook.com/CFCRights' target='_blank'><img alt='Facebook' src='http://www.cfcrights.org/wp-content/themes/Lucid/images/facebook.png' /></a></div> <!-- end #social-icons -->
			<div id="search">
				<div id="search-form">
					<form method="get" id="searchform" action="http://www.cfcrights.org//">
						<input type="text" value="Search This Site..." name="s" id="searchinput" />
						<input type="image" alt="Submit" src="http://www.cfcrights.org/wp-content/themes/Lucid/images/search_btn.png" id="searchsubmit" />
					</form>
				</div> <!-- end #search-form -->
			</div> <!-- end #search -->
		</div> <!-- end .container -->
	</header> <!-- end #main-header -->

	
	<div class="container">
		<div id="logo-area">
			<a href="http://www.cfcrights.org/">
								<img src="http://www.cfcrights.org/wp-content/uploads/2015/02/cfcr-logo2.png" alt="Council for Children&#039;s Rights" id="logo"/>
			</a>

					</div>
	</div> <!-- end .container -->
	<div id="secondary-menu">
		<div class="container">
			<a href="#" class="mobile_nav closed">Categories Menu<span></span></a>			<nav id="second-menu" class="clearfix">
				<ul id="menu-below-logo" class="nav"><li id="menu-item-3965" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3965"><a href="http://www.cfcrights.org/about/">About The Council</a>
<ul class="sub-menu">
	<li id="menu-item-3968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3968"><a href="http://www.cfcrights.org/about/mission/">Our Mission</a></li>
	<li id="menu-item-3969" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3969"><a href="http://www.cfcrights.org/about/history/">History of the Council</a></li>
	<li id="menu-item-3975" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3975"><a href="http://www.cfcrights.org/staff/">Staff Directory</a></li>
	<li id="menu-item-3971" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3971"><a href="http://www.cfcrights.org/about/board/">Board</a></li>
	<li id="menu-item-3970" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3970"><a href="http://www.cfcrights.org/about/faqs/">Frequently Asked Questions</a></li>
	<li id="menu-item-3973" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3973"><a href="http://www.cfcrights.org/?page_id=3797">Video</a></li>
	<li id="menu-item-3967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3967"><a href="http://www.cfcrights.org/about/join/">Join Our Team</a></li>
	<li id="menu-item-4268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4268"><a href="http://www.cfcrights.org/about/privacy-policy/">Privacy Policy</a></li>
	<li id="menu-item-3966" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3966"><a href="http://www.cfcrights.org/about/financials/">Financials</a></li>
</ul>
</li>
<li id="menu-item-3957" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3957"><a href="http://www.cfcrights.org/what-we-do/">What We Do</a>
<ul class="sub-menu">
	<li id="menu-item-4271" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4271"><a href="http://www.cfcrights.org/what-we-do/what-we-do2/">Who We Help</a></li>
	<li id="menu-item-3958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3958"><a href="http://www.cfcrights.org/what-we-do/childrens-legal-services/">Children&#8217;s Legal Services</a>
	<ul class="sub-menu">
		<li id="menu-item-3959" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3959"><a href="http://www.cfcrights.org/what-we-do/childrens-legal-services/childrens-defense/">Children’s Defense Team</a></li>
		<li id="menu-item-3960" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3960"><a href="http://www.cfcrights.org/what-we-do/childrens-legal-services/custody-advocacy/">Custody Advocacy Program (CAP)</a></li>
		<li id="menu-item-3961" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3961"><a href="http://www.cfcrights.org/what-we-do/childrens-legal-services/individual-advocacy/">Individual Advocacy Program (IAT)</a></li>
	</ul>
</li>
	<li id="menu-item-4269" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4269"><a href="http://www.cfcrights.org/what-we-do/systems-advocacy/">Systems Advocacy</a>
	<ul class="sub-menu">
		<li id="menu-item-4283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4283"><a href="http://www.cfcrights.org/what-we-do/systems-advocacy/education/">Education</a></li>
		<li id="menu-item-3963" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3963"><a href="http://www.cfcrights.org/what-we-do/systems-advocacy/policy/">Policy</a></li>
		<li id="menu-item-3964" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3964"><a href="http://www.cfcrights.org/what-we-do/systems-advocacy/research-planning/">Research &#038; Planning</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-4124" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-4124"><a href="http://www.cfcrights.org/category/news/">News &#038; Events</a>
<ul class="sub-menu">
	<li id="menu-item-3979" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3979"><a href="http://cfcrights.org/events">Events Calendar</a></li>
	<li id="menu-item-3977" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3977"><a href="http://www.cfcrights.org/category/blog/">Issues Blog</a></li>
	<li id="menu-item-3976" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3976"><a href="http://www.cfcrights.org/category/stories/">Stories and Profiles</a></li>
	<li id="menu-item-3929" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3929"><a href="http://www.cfcrights.org/in-the-news/">In The News</a></li>
</ul>
</li>
<li id="menu-item-3943" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3943"><a href="http://www.cfcrights.org/make-a-difference/">Make a Difference</a>
<ul class="sub-menu">
	<li id="menu-item-3944" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3944"><a href="http://www.cfcrights.org/make-a-difference/donatenow/">Donate Now</a></li>
	<li id="menu-item-4371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4371"><a href="http://www.cfcrights.org/make-a-difference/a-night-for-childrens-rights/">A Night for Children&#8217;s Rights</a></li>
	<li id="menu-item-3945" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3945"><a href="http://www.cfcrights.org/make-a-difference/voices-for-children-society/">Voices for Children Society</a></li>
	<li id="menu-item-3946" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3946"><a href="http://www.cfcrights.org/make-a-difference/young-ambassadors/">Young Ambassadors</a></li>
	<li id="menu-item-3948" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3948"><a href="http://www.cfcrights.org/make-a-difference/internships/">Internships</a>
	<ul class="sub-menu">
		<li id="menu-item-3949" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3949"><a href="http://www.cfcrights.org/make-a-difference/internships/legal-internships/">Legal Internships</a></li>
		<li id="menu-item-3952" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3952"><a href="http://www.cfcrights.org/make-a-difference/internships/social-work-internships/">Social Work Internships</a></li>
		<li id="menu-item-3950" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3950"><a href="http://www.cfcrights.org/make-a-difference/internships/policy-internships/">Policy Internships</a></li>
		<li id="menu-item-3951" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3951"><a href="http://www.cfcrights.org/make-a-difference/internships/research-internships/">Research Internships</a></li>
	</ul>
</li>
	<li id="menu-item-3947" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3947"><a href="http://www.cfcrights.org/make-a-difference/volunteer/">Volunteer</a></li>
</ul>
</li>
<li id="menu-item-3931" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3931"><a href="http://www.cfcrights.org/issues/">Issues and Impact</a>
<ul class="sub-menu">
	<li id="menu-item-3942" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3942"><a href="http://www.cfcrights.org/issues/advocacy-for-children/">Advocacy for Children</a></li>
	<li id="menu-item-3932" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3932"><a href="http://www.cfcrights.org/issues/policy-priorities/">Areas of Focus</a></li>
	<li id="menu-item-4892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4892"><a href="http://www.cfcrights.org/issues/pinwheels/">Child Abuse Prevention Month &#8211; April</a></li>
	<li id="menu-item-3934" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3934"><a href="http://www.cfcrights.org/issues/community-statistics/">Community Statistics</a></li>
	<li id="menu-item-4492" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4405 current_page_item menu-item-4492"><a href="http://locator.cfcrights.org">Out of School Time Locator Map</a></li>
	<li id="menu-item-3938" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3938"><a href="http://www.cfcrights.org/issues/research-repository/">Research Repository</a>
	<ul class="sub-menu">
		<li id="menu-item-3939" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3939"><a href="http://www.cfcrights.org/issues/research-repository/fact-sheets-and-maps/">Fact Sheets and Maps</a></li>
		<li id="menu-item-3940" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3940"><a href="http://www.cfcrights.org/issues/research-repository/program-evaluation-tools/">Program Evaluation Tools</a></li>
		<li id="menu-item-3941" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3941"><a href="http://www.cfcrights.org/issues/research-repository/reports/">Reports</a></li>
	</ul>
</li>
</ul>
</li>
</ul>			</nav>
		</div> <!-- end .container -->
	</div> <!-- end #secondary-menu -->
	<div id="main-area" style="background: white;">
		<%= yield %>
	</div> <!-- end #main-area -->
	<footer id="main-footer">
			<div id="footer-divider"></div>
			<div class="container">
			<div id="footer-widgets" class="clearfix">
				<div class="footer-widget" style="width: 310px;"><div id="nav_menu-3" class="f_widget widget_nav_menu"><h4 class="widgettitle">Navigate</h4><div class="menu-site-map-container"><ul id="menu-site-map-1" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-3980"><a href="http://www.cfcrights.org">Home</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4123"><a href="http://www.cfcrights.org/category/news/">News</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3991"><a href="http://www.cfcrights.org/category/blog/">Blog</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3387"><a href="http://www.cfcrights.org/?post_type=tribe_events">Events</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3388"><a href="http://www.cfcrights.org/contact-the-council/">Contact</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4134"><a href="http://www.cfcrights.org/make-a-difference/donatenow/">Donate</a></li>
</ul></div></div> <!-- end .footer-widget --></div> <!-- end .footer-widget --><div class="footer-widget" style="width: 310px;"><div id="text-5" class="f_widget widget_text"><h4 class="widgettitle">Proudly Supported By</h4>			<div class="textwidget"><a href="http://www.uwcentralcarolinas.org/" target="_blank"><img src="http://www.cfcrights.org/wp-content/uploads/2015/02/United_Way_Logo.svg_.png" width="250" border="0" alt="United Way" /></a></div>
		</div> <!-- end .footer-widget --></div> <!-- end .footer-widget --><div class="footer-widget last" style="width: 310px;"><div id="text-2" class="f_widget widget_text"><h4 class="widgettitle">Council for Children&#8217;s Rights</h4>			<div class="textwidget"><p>We lead our community to stand up for every child's right to be safe, healthy, and educated. Only Council for Children’s Rights provides intervention for protection of individual rights and expert research, policy and community planning for all children.</p>
</div>
		</div> <!-- end .footer-widget --></div> <!-- end .footer-widget -->			</div> <!-- end #footer-widgets -->
		</div> <!-- end .container -->

			</footer> <!-- end #main-footer -->

	<div id="footer-bottom">
		<div class="container clearfix">
			<ul id="bottom-menu" class="bottom-nav"><li id="menu-item-3334" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3334"><a href="http://facebook.com/CFCRights">Visit Us On Facebook</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4176"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=94achecab&#038;p=oi&#038;m=1101800735738">Subscribe to Email Newsletters</a></li>
</ul>
			<p id="copyright">Designed by <a href="http://www.elegantthemes.com" title="Premium WordPress Themes">Elegant Themes</a> | Powered by <a href="http://www.wordpress.org">WordPress</a></p>
		</div> <!-- end .container -->
	</div> <!-- end #footer-bottom -->


		<script type='text/javascript'>
		/* <![CDATA[ */
		var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/www.cfcrights.org\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif","i18n_view_cart":"View Cart","cart_url":"http:\/\/www.cfcrights.org\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
		var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/www.cfcrights.org\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif","i18n_view_cart":"View Cart","cart_url":"http:\/\/www.cfcrights.org\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
		/* ]]> */
		</script>
		<script type='text/javascript' src='//www.cfcrights.org/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.2.7'></script>
		<script type='text/javascript' src='//www.cfcrights.org/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.60'></script>
		<script type='text/javascript'>
		/* <![CDATA[ */
		var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/www.cfcrights.org\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif"};
		var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/www.cfcrights.org\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif"};
		/* ]]> */
		</script>
		<script type='text/javascript' src='//www.cfcrights.org/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.2.7'></script>
		<script type='text/javascript' src='//www.cfcrights.org/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.3.1'></script>
		<script type='text/javascript'>
		/* <![CDATA[ */
		var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","fragment_name":"wc_fragments"};
		var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","fragment_name":"wc_fragments"};
		/* ]]> */
		</script>
		<script type='text/javascript' src='//www.cfcrights.org/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.2.7'></script>
		<script type='text/javascript' src='http://www.cfcrights.org/wp-content/themes/Lucid/js/superfish.js?ver=1.0'></script>
		<script type='text/javascript' src='http://www.cfcrights.org/wp-content/themes/Lucid/js/jquery.flexslider-min.js?ver=1.0'></script>
		<script type='text/javascript' src='http://www.cfcrights.org/wp-content/themes/Lucid/js/jquery.fitvids.js?ver=1.0'></script>
		<script type='text/javascript' src='http://www.cfcrights.org/wp-content/themes/Lucid/js/custom.js?ver=1.0'></script>
		<script type='text/javascript' src='http://www.cfcrights.org/wp-includes/js/comment-reply.min.js?ver=4.0.1'></script>
		<script type='text/javascript' src='http://www.cfcrights.org/wp-content/themes/Lucid/epanel/page_templates/js/fancybox/jquery.easing-1.3.pack.js?ver=1.3.4'></script>
		<script type='text/javascript' src='http://www.cfcrights.org/wp-content/themes/Lucid/epanel/page_templates/js/fancybox/jquery.fancybox-1.3.4.pack.js?ver=1.3.4'></script>
		<script type='text/javascript'>
		/* <![CDATA[ */
		var et_ptemplates_strings = {"captcha":"Captcha","fill":"Fill","field":"field","invalid":"Invalid email"};
		/* ]]> */
		</script>
		<script type='text/javascript' src='http://www.cfcrights.org/wp-content/themes/Lucid/epanel/page_templates/js/et-ptemplates-frontend.js?ver=1.1'></script>


	<!-- Begin Attracta Include 2013-02-26 15:11 -->
		<script type='text/javascript'> 
		function attracta_loadjs(url) {
		   (function() {
		       var s = document.createElement('script');
		       s.type = 'text/javascript';
		       s.async = true;
		       s.src = url;
		       var x = document.getElementsByTagName('script')[0];
		       x.parentNode.insertBefore(s, x);
		   })();
		}
		function attracta_shouldrun() {
		   var v = ["/admin/","/adm/","/wp-admin/","/administrator/"];
		   for (x in v) if(window.location.pathname.indexOf(v[x]) == 0) return false;
		   return true;
		}
		function attracta_window_width() {
		   if (document.body && document.body.offsetWidth) return document.body.offsetWidth;
		   if (document.compatMode=='CSS1Compat' && document.documentElement && document.documentElement.offsetWidth ) return document.documentElement.offsetWidth;
		   if (window.innerWidth) return window.innerWidth;
		   return 0;
		}
		function attracta_window_height() {
		   if (document.body && document.body.offsetHeight) return document.body.offsetHeight;
		   if (document.compatMode=='CSS1Compat' && document.documentElement && document.documentElement.offsetHeight ) return document.documentElement.offsetHeight;
		   if (window.innerHeight) return window.innerHeight;
		   return 0;
		}
		</script>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-38041932-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

	</body>
</html>
